

@media screen and (min-width: 400px) {
    *{
        margin: 0px;
        padding: 0px;
        font-family: 'Alef', sans-serif;
    }
    header, footer, main, section, aside, article, nav{
        display: block;
    }
    body{
        background-color: #ebebeb;
    }

    a{
        text-decoration: none;
    }

    header{
        background-color: #777777;
        position: relative;
        border-top: 3px solid #049cdb;
    }

    #wrapper{
        max-width: 1000px;
        margin:0 auto;
        background-color: #3f3f3f;
    }

    #logo{
        background: url("../images/logo.png") no-repeat;
        top: 7px;
        right: 10px;
        width:104px;
        height: 74px;
        display: block;
        position: absolute;
        z-index: 2;
    }
    #profile{
        display: block;
        top:7px;
        left:20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: url("../images/pics/bar.jpg") no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 2;
    }
    nav{
        background-color: #777777;
        height:49px;
        margin-right: 113px;
    }
    nav>ul{
        padding:0;
        text-align:center;
    }
    nav>ul>li{
        list-style : none;
        float: right;
        position: relative;
    }
    nav>ul>li>a{
        padding-top: 14px ;
        display: block;
        text-decoration: none;
        height: 49px;
        width: 110px;
        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }
    #messageCounter{
        top: 7px;
        left: 7px;
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        background-color: #049cdb;
        border-radius: 50%;
        font-size: 10px;
        color: #ffffff;
        padding: 0px;
        line-height: 20px;
    }
    nav>ul li:hover a{
        font-weight: bold;
    }
    nav~section{
        background-color: #777777;
        width: 100%;
        height: 30px;
    }
    .clear{
        clear:both;
    }
    main{
        padding: 20px 20px 0px 0px;
        background: #ebebeb;
        position: relative;
    }
    .borderLine{
        background: #ffffff;
        padding: 20px 10px 10px 10px;
        float: right;
        position: relative;
        margin: 0px 0px 20px 20px;
    }
    .borderLine>section{
        /*border: 1px solid #eeeeee;*/
        border-radius: 5px;
    }
    .borderLine>h2{
        position: absolute;
        background: #ffffff;
        padding: 0px 15px;
        margin:-15px 20px;
        right: 0px;
        direction: rtl;
        color: #777777;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
    }
    input[type=text]{
        width: 97px;
        border: none;
        height: 27px;
        border-radius: 2px;
        font-size: 16px;
        background-image: url('../images/icons/searchIcon.png');
        background-color: white;
        background-position: 3px 3px;
        background-repeat: no-repeat;
        background-size: 22px 22px;
        padding-left: 36px;
    }
    #profile~form{
        float: left;
        padding:14px 0px 0px 87px ;
    }
    .myTable{
        margin:20px 20px 80px 20px;
    }
    .myTable td, .myTable a{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        vertical-align: bottom;
    }
    .myTable tr:nth-child(1)>td{
        height: 20px;
        padding: 0px;
        position: absolute;
        top: 50px;
    }
    .myTable td a{
        color: #7a7a7a;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-variant: normal;
    }
    .myTable tr:nth-child(1)~*>td{
        line-height: 22px;
        color: #777777;
        font-size: 14px;
        border-bottom:1px dotted #c6c6c6;
        height: 35px;
        /*padding-bottom: 6px;*/
    }
    #shortMessages{
        width:246px;
        height:400px;
    }
    #shortTraining{
        width:649px;
        min-height: 400px ;
        direction: rtl;
    }
    #shortTraining tr>td{
        color: #777777;
        font-size: 14px;
        border-bottom:1px dotted #c6c6c6;
        height: 35px;
        padding-right: 70px;
        width:88px;
    }
    #shortTraining tr>td:nth-child(3){
        background-position-x: 73px;
        padding-right: 70px;
        width:220px;
    }
    #trainingTable{
        width: 940px;
        direction: rtl;
    }

    #addTraining{
        width: 940px;
        direction: rtl;
    }
    #addTraining h3{
        margin-bottom:15px;
        direction: rtl;
        color: #777777;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
    }

    #addTraining>form{
        margin: 40px 40px 0px 40px;
    }
    #trainingTable td a{
        background: url("../images/icons/sortIcon.png") no-repeat right;
        background-size: 20px 20px;
        padding-right: 24px;
    }

    #trainingTable tr:nth-child(1)>td:nth-child(1){
        background-position-x: 73px;
        padding-right: 58px;
    }

    #trainingTable tr:nth-child(1)~*>td{
        padding-right:24px;
    }
    #trainingTable tr:nth-child(1)~*>td a{
        background: url("../images/icons/sortIcon.png") no-repeat right;
        background-size: 17px 17px;
        width: 17px;
        height: 17px;
        float: right;
        display: block;
        padding: 0px;
        opacity: 0.5;
    }
    #trainingTable tr:nth-child(1)~*>td a:hover{
        opacity: 1;
    }
    #trainingTable tr:nth-child(1)~*>td>a:nth-child(1){
        background: url("../images/icons/editIcon.png") no-repeat right;
        background-size: 17px 17px;
        margin-right: -80px;
    }
    #trainingTable tr:nth-child(1)~*>td>a:nth-child(2){
        background: url("../images/icons/binIcon.png") no-repeat right;
        background-size: 17px 17px;
        margin-right: -55px;
    }

    #trainingTable tr>td:nth-child(1){
        padding-right: 82px;
        width:74px;
    }
    #trainingTable tr>td:nth-child(2){
        width:156px;
    }
    #trainingTable tr>td:nth-child(3){
        width:226px;
    }
    #trainingTable tr>td:nth-child(4){
        width:156px;
    }
    #trainingTable tr>td:nth-child(5){
        width:102px;
    }
    #trainingTable tr>td:nth-child(6){
        width:170px;
    }
    #trainingTable>a{
        background: url("../images/icons/plusIcon.jpg") no-repeat center;
        background-size: 50px;
        display: block;
        width: 50px;
        height: 50px;
        float: right;
        opacity: 0.7;
        margin: 20px 20px 0px 0px;
    }
    #trainingTable>a:hover{
        opacity: 1;
    }

    .optionBox input{
        width:230px;
        height:40px;
        border:1px solid #cccccc;
        border-radius: 5px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        color:#777777;
        padding-right:30px;
    }
    .smallOptionBox{
        width:115px;
        height:40px;
        float:right;
    }
    .smallOptionBox>input[type=time]{
        width:105px;
        height:40px;
        background: url("../images/icons/clock_icon.png") no-repeat right;
        border:1px solid #cccccc;
        border-radius: 5px;
    }
    .optionComponent:nth-child(2)*{
        margin-right:150px;
    }
    #rightSection{
        float:right;
        width:315px;
        height:410px;
    }
    #mapArea{
        width:315px;
        height:355px;
        border-radius:5px;
        border:1px solid #cccccc;
    }
    #mapSection{
        float:right;
        max-width:150px;
        margin:10px 0px 20px 0px;
    }
    #mapArea>article:nth-child(1){
        background: url("../images/israel_section_map.jpg") no-repeat;
        background-size: 160px 350px;
        width: 160px;
        height: 350px;
        float: right;
        margin:2px 2px 2px 2px;
    }
    #rightSection>#mapArea>#mapSection>ul>li{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        text-decoration: none;
        list-style: none;
        padding: 10px 20px 10px 0px;
        color:#7a7a7a;
        cursor: pointer;
        width:130px;
    }
    #midSection{
        float:right;
        margin-right:40px;
        width:230px;
    }
    #midSection>.optionComponent{
        margin-bottom:20px;
    }
    #midSection>.optionComponent>.optionBox>input[name="place"]{
        background: url("../images/icons/placeIcon_rsize.png") no-repeat right;
    }
    #midSection>.optionComponent>.optionBox>a>input[name="coach"]{
        background: url("../images/icons/coachIcon_resize.png") no-repeat right;
        background-position-x: 200px;
    }
    #leftSection{
        float:right;
        margin-right:40px;
        width:230px;
        height: 430px;
    }
    #leftSection>.optionComponent>.optionBox>input{
        padding-left:20px;
        width:230px;
        height:40px;
        border:1px solid #cccccc;
        border-radius: 5px;
        background: url("../images/icons/calendar_icon.png") no-repeat right;
    }
    input[type=checkbox]
    {
        -webkit-transform: scale(2);
        margin:20px 5px 0px 10px;
        padding-right: 10px;
    }
    #leftSection>.optionComponent:nth-child(2){
        height:45px;
    }
    #repetions span{
        margin-left: 10px;
    }
    .overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: none;
        background-color: #000000;
        opacity: 0.65;
        position: fixed;
    }
    .overlay:target {
        display: block;
    }
    .close {
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        position: absolute;
        background: url("../images/icons/xIcon.png") no-repeat center;
        background-size: 10px 10px;
        opacity: 0.5;
    }
    .close:hover {
        opacity: 1;
    }
    .optionBox input{
        width:230px;
        height:40px;
        border:1px solid #cccccc;
        border-radius: 5px;
    }
    .optionComponent{
        width:230px;
        height:85px;
    }
    #coachChoose:target+section {
        z-index: 20;
        -webkit-transform: translate(40%, -90%);
        -ms-transform: translate(40%, -90%);
        -o-transform: translate(40%, -90%);
        transform: translate(40%, -90%);
    }
    #coachChoose +section{
        width: 670px;
        position:absolute;
        -webkit-transform: translate(40%, -400%);
        -ms-transform: translate(40%, -400%);
        -o-transform: translate(40%, -400%);
        transform: translate(40%, -400%);
        -webkit-transition: -webkit-transform 0.6s ease-out;
        -moz-transition: -moz-transform 0.6s ease-out;
        -o-transition: -o-transform 0.6s ease-out;
        transition: transform 0.6s ease-out;
    }
    #coachWindow{
        max-width: 800px;
        direction: rtl;
        padding: 27px;
    }
    #coachWindow>a{
        width: 145px;
        height: 145px;
        margin: 27px;
        float: right;
        text-align: center;
        border-radius: 5px;
        opacity: 0.8;
    }
    #coachWindow>a:hover{
        opacity: 1;
    }
    #coachWindow>a>img{
        margin-top: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    #coachWindow>a>h2{
        display: block;
        color: #777777;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
    }
    #coachWindow>a>h4{
        background: url("../images/icons/phoneIcon.png") no-repeat right;
        background-size: 20px;
        padding-right: 5px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        color: #777777;
        margin: 5px;
    }

    .breadCrumb{
        list-style: none;
        margin-top: -17px;
        margin-right: 20px;
        position: absolute;
        right: 0px;
    }
    .breadCrumbItem{
        float:right;
    }
    .breadCrumbItem, .breadCrumbItem>a {
        color: #7a7a7a;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
    }
    .breadCrumbItem>a::before{
        content: "<<";
    }

    #leftSection>.optionComponent>.optionBox>input{
        padding-left:20px;
        width:210px;
        height:40px;
        border:1px solid #cccccc;
        border-radius: 5px;
        background: url("../images/icons/calendar_icon.png") no-repeat right;
    }

    #repeats{
        display: none;
    }
    section>article>p{
        display: block;
        color: #777777;
        padding:0 10px 5px 10px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        float: right;
        cursor: pointer;
    }
    input[type=radio] {
        margin: 10px 0px 10px 0px;
        height: 20px;
        width: 20px;
    }
    #afterWeek>input{

    }
    #afterWeek,#afterDate{
        width:250px;
        margin: 5px 0 5px 0;
    }
    #afterWeek,#afterDate,#afterWeek input,#afterDate input,#afterWeek label,#afterDate label{
        float:right;
    }
    #afterWeek label,#afterDate label{
        display: block;
        color: #777777;
        padding:0 3px 0px 3px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 40px;
        float: right;
    }
    #afterWeek>article>input{
        width: 50px;
    }
    #afterDate>article>input{
        width: 120px;
        padding: 0;
    }
    button.mySubmit {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-sizing: border-box;
        margin-right: 120px;
        background: url("../images/icons/vIcon.png") no-repeat -4px -2px;
        border: 5px solid;
        background-size: 55px;
        cursor: pointer;
        margin-top: 150px;
        opacity: 0.5;
    }
    button.mySubmit:hover{
        opacity: 1;
    }
    .newTraining{
        background: url("../images/icons/newIcon.png") no-repeat left;
        background-size: 20px;
    }
}
@media screen and (min-width: 640px) and (max-width: 1000px) {
    nav>ul>li>a {
        width:85px;
    }
    #addTraining{
        max-width: 600px;
        direction: rtl;
    }
    #rightSection,#midSection,#leftSection {
        float: none;
        margin: 0 auto;
        height: 430px;
        display: block;
        clear: both;
        width: 320px;
        padding: 10px;
        margin-top: 5px;
    }
    header>form {
        display: none;
    }
}

@media screen and (min-width: 350px) and (max-width: 639px) {
    #addTraining{
        max-width: 400px;
        direction: rtl;
    }
    nav~section{
        display:none;
    }
    nav{
        margin-top: 70px;
        margin-right: 0px;
    }
    nav>ul>li>a {
        width:70px;
    }

    #rightSection,#midSection,#leftSection {
        float: none;
        margin: 0 auto;
        height: 430px;
        display: block;
        clear: both;
        width: 320px;
        padding: 10px;
        margin-top: 5px;
    }
    header>form {
        display: none;
    }
}