* {
    margin: 0;
    padding: 0;
}


h1{
    direction:rtl;
}

.breadcrumb{
    margin-top: -20px!important;
    background: #ebebeb;
    float: right;
}
/**log in style*/

#login form{
    width: 300px;
    margin:auto;
}
#wrong{
    text-align: center;
    margin-top: 20px;
    color: darkred;
}
label.glyphicon{
    border-radius:0 4px 4px 0!important;
}
.loinBtn{
    width:100%;
    margin-top:40px;
}
.loinBtn>div{
    width:50%;

}
.loinBtn select{
    clear: both;
    width:100%;
}
.loinBtn>button{
    width: 50%;
}
input{
    direction: rtl;
}
.loinBtn select{
    background:#ffffff;
    height:34px;
}
/*****************/

a {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

header, main, footer, section, article, nav {
    display: block;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #777777;
    height: 70px;
    width: 100%;
}
ul {
    list-style: none;
}
header>section>ul:nth-child(2){
    margin: 23px 23px 0 0;
    width: 25px;
    height: 25px;
}
header>section>ul:nth-child(2)>li>a,header>section>ul:nth-child(2)>li{
    width: 100%;
    height: 100%;
}
.closed #hamburger{
    background: url("../images/icons/hamburger_icon.png") center no-repeat;
    background-size: 23px;
    transition: 500ms;
}
.opened #hamburger{
    background: url("../images/icons/hamburger_icon_close.png") center no-repeat;
    background-size: 23px;
}
/*navigation*/
nav > ul > li > a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    transition: background-color 1s;
}

#alert{
    background: url("../images/icons/bell_icon.gif") no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
}
#alert>article{
    background-color: #123FFF;
    width: 20px;
    height: 20px;
    position: absolute;
    top:-10px;
    left: -10px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    line-height:20px;

}
header >section>ul:nth-child(3)>ul:nth-child(3){
    clear: both;
    /*border: 1px solid violet;*/
}
#name{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*border: 1px solid coral;*/
    display: block;
    color: #ffffff;
    text-align: right;
    font-size: 20px;
}
.breadcrumb {
    direction: rtl;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

main {
    max-width: 1000px;
    /*border: 1px solid black;*/
    margin: 0 auto;
    padding: 0 20px 10px 20px;
}

#logo {
    display: block;
}

/*******search bar*******/
#searchBar{
    padding-top:24px;
    position:relative;
    float: left;
}
#searchBar form{
    display: block;
    position: absolute;
}
input[name=search]{
    height: 22px;
    border-radius: 5px;
    outline-style: none;
    direction: rtl;
    color: #000000;
    border: none;
}

input[type=submit]{
    border: none;
    position: absolute;
    width: 22px;
    height: 22px;
    top:0;
    right: 0;
    background-color: transparent;
    border-radius: 5px;
}
/**login bar*/
/******end search bar*****/
.notActiveUser{
    display: none;
}
@media (min-width: 740px) {
    body {
        background: #ebebeb;
    }
    main>section,main>h1{
        background: #ffffff;
        padding-right: 10px ;
        padding-left: 10px ;
    }
    main>h1{
        margin-top:20px;
        margin-bottom:0;
        border-radius: 4px 4px 0 0;
    }
    main>section{
        padding-bottom: 40px;
        border-radius: 4px;
    }
    main form{
        background: #ffffff;
        border-radius: 4px;
        padding: 0px 20px 20px 20px ;
    }
    #login h1{
        text-align:center;
        margin-top: 20%;
    }
    /***log in***/

    h4{
        text-align:right;
    }
    /*********/
    header > section {
        display: block;
        max-width: 1000px;
        padding: 0 10px;
        margin: 0 auto;
    }
    nav > ul > li > a:hover{
        text-decoration: none; /*cancel butstrap*/
        color: #ffffff; /*cancel butstrap*/
        background-color: #000000;
        font-weight: bold;
    }
    /*
    *header
    */
    /*logo*/
    #logo {
        background: url("../images/logo.png");
        width: 100px;
        height: 70px;
        /*border: 1px solid black;*/
        float: right;
    }
    /*settings panel*/

    /*profile and pic of profile*/
    #profileImg {
        background: url("../images/users/log.png") no-repeat;
        background-size: cover;
        display: block;
        top: 7px;
        left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        /*position: relative;*/
    }
    .hambBack{
        display: none;
    }
    .hambBack>li{
        display: none;
    }

    #profile{
        display: block;
        float: left;
        margin-top: 10px;
    }

    #profile>li{
        display: block;
        float: right;
    }

    #profile>li:nth-child(1){
        margin: 15px;
        display: block;
    }
    #profileData{
        z-index: 1;
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #c6c6c6;
        position: absolute;
        display: none;
        text-align: right;
        padding: 20px;

    }
    #profileData>*{
        margin: 10px;
    }
    #profileImg:hover+#profileData,#profileData:hover{
        display:block;
    }
    nav{
        display: block;
        width: 50%;
        float: right;
    }
    nav > ul {
        width: 100%;
        display: block;
    }
    nav > ul > li {
        display: block;
        width: 20%;
        float: right;
    }
    header nav > ul > li > a {
        font-size: 16px;
        text-align: center;
        display: block;
        width: 100%;
        height: 70px;
        line-height: 70px;
    }
    nav .active{
        font-weight: bold;
        color: #000000;
        background: #ebebeb;
    }
    /*table of training for admin*/
    .trainingTable{
        width: 90%;
        margin: 0 auto;
        /*background: #ffefee;*/
        padding: 10px;
        border-collapse: collapse;
    }

    .coachTr,.typeTr,.genreTr,.placeTr,.timeTr,.dayTr{
        border-bottom:1px dotted #c6c6c6;
    }
    .control{
        width: 3%;
        text-align: center;
    }
    main table *{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        vertical-align: bottom;
        line-height: 20px;
        color: #777777;
        font-size: 14px;
        height: 35px;
        text-align: right;
    }
    .tags{
        border-bottom:none;
        font-weight: bold;
    }
    .tags *{
        border-bottom:none!important;
        height: 14px;
        line-height: 14px;
    }

    .control *,.control{
        vertical-align: bottom;
        border-bottom:none;
        height: 22px;
        line-height: 20px;
        font-size: 20px;

    }

    .control i{
        font-size: 30px;
        color: #3f3f3f;
    }

    /*.control *{*/
        /*color: #c6c6c6;*/
        /*transition: 1s;*/
    /*}*/
    /*.control *:hover{*/
        /*color: #000000;*/
    /*}*/

    tr[id^=tr]{
        cursor: pointer;
    }

    .addClosed{
        display: none;
    }
    .addOpened{
        display:table-row;
    }

    .addOpened *[class^=addi]{
        animation-name:widthAddi;
        animation-duration: 100ms;
        /*height: 300px;*/
    }
    @keyframes widthAddi{
        from{ height: 0;}
        to{ height: 180px;}
    }
    .addOpened *[class^=addi] *{
        opacity: 1;
        animation-name:visibAddi;
        animation-duration: 750ms;
    }
    @keyframes visibAddi{
        0%{ opacity: 0;}
        40%{ opacity: 0;}
        100%{ opacity: 1;}
    }
    /*.additional .addiCoach{*/
        /*border-bottom-left-radius: 4px;*/
        /*!*border-left: 1px dotted #777777;*!*/
    /*}*/
    .additional{
        border:none!important;
    }
    .additional td>*{
        direction:rtl;
        padding-top:10px;
        /*border-bottom:1px dotted #777777;*/
        float:right;
    }
    .addiLabData{
        width: 30%;
        height: 130px;
        border-right: 1px dotted #c6c6c6;
        padding-right:20px ;
    }
    .addiLabData>*{
       float:right;

    }
    .addiData{
        padding-right:10px;
    }
    /*.additional .addiLabels{*/
        /*border-bottom-right-radius: 4px;*/
    /*}*/
    .additional p{
        height: 10px;
    }
    .addiLabels{

    }
    .addiAddress{
        padding-left: 20px;
        width: 70%;
        height: 300px;
        float: left!important;
        border-left: 1px dotted #c6c6c6;
        border-bottom: 1px dotted #c6c6c6;
        border-bottom-left-radius:4px;
    }
    .mapGoogle{
        height:210px;
        background: #777777;
        border-radius: 4px;
    }
    .addiCoach{
        padding-right:20px;
        width:30%;
        height: 170px;
        border-bottom-right-radius:4px;
        border-bottom: 1px dotted #c6c6c6;
        border-right: 1px dotted #c6c6c6;
        /*float: none!important;*/
    }
    .addiCoach article{
        height:100px;
        width:100px;
        background: #777777;
        border-radius: 4px;
    }

    /*.control>span{*/
        /*background: #c6c6c6;*/
        /*color: #ffffff;*/
        /*border-radius: 2px;*/
        /*font-size: 15px;*/
        /*padding: 0 2px 0 2px;*/
    /*}*/

    /**************************************8/
    /*training table*/

    /*end training table*/
}

@media (min-width: 1000px) {
    /*******search bar*******/
    input[name=search]{
        width:170px;
        background: url("/images/icons/search_icon_main_black.png") no-repeat right #ffffff;
        background-size: 15px;
        color: grey;
        padding-right:20px;
        border-right: 1px solid #000000;
        cursor:text;
    }
    input[type=submit]{
        display: block;
    }
    /******end search bar*****/
}

@media (max-width: 999px) {
    /*.container {*/
        /*background: #0F9FFF;*/
    /*}*/

}

@media (min-width: 900px){

    input[name=search]{
        width:170px;
        background: url("/images/icons/search_icon_main_black.png") no-repeat right #ffffff;
        background-size: 15px;
        color: grey;
        padding-right:20px;
        border-right: 1px solid #000000;
        cursor:text;
    }
    input[type=submit]{
        display: block;
    }
    /******end search bar*****/
}

@media (max-width: 899px) {
    /*.container {*/
        /*background: #0F9FFF;*/
    /*}*/
    /******search bar***/
    input[name=search]::-webkit-input-placeholder{
        color: transparent;
    }
    input[name=search]::-moz-placeholder {
        color: transparent;
    }
    input[name=search]{
        width: 22px;
        background: url("../images/icons/search_icon_main_white.png") no-repeat center #777777;
        background-size: 22px;
        transition: 1s;
        color: transparent;
        cursor:pointer;
    }
    input[type=submit]{
        display: none;
    }
    input[name=search]:focus{
        width:170px;
        background: url("../images/icons/search_icon_main_black.png") no-repeat right #ffffff;
        background-size: 15px;
        /*color: grey;*/
        padding-right:20px;
        border-right: 1px solid #000000;
        cursor:text;
    }
    input[name=search]:focus+input[type=submit]{
        display: block;
    }
    input[name=search]:focus::-webkit-input-placeholder,input[name=search]::-moz-placeholder{
        color: black;
    }
    /******end search bar*****/
}

@media (max-width: 739px) {
    .closed+main h1{
        font-size: 25px;
        width:200px;
        text-align: center;
        right: 0;
        left: 0;
        margin: auto;
        color: #ffffff;
        top: 22px;
        position: fixed;
        z-index:10;
    }
    main{
        margin-top: 70px ;
        padding: 0;
    }
    #login h4:not(#wrong){
        display: none;
    }
    #login>form{
        margin-top: 40%;
    }
    #login>form>div:nth-child(5){
        margin-top: 40px ;
    }
    .overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        background-color: #000000;
        opacity: 0.65;
        position: fixed;
    }

    .closed .overlay {
        display: none;
    }

    .opened .overlay{
        display: block;
    }
    .opened+main>h1{
        display: none;
    }
    /*
    *header*****************************************************
    */
    /*minimize logo*/
    .closed #logo {
        background: url("../images/logo_mini.png") no-repeat center;
        background-size: 50px;
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 9px;
    }
    #profile{
        margin-top: 22px;
        border-top: 1px solid #555555;
        float: right;
        width:100%;
    }
    #profile>li:nth-child(1){
        margin:20px 120px 0 0;
        float: right;
    }
    #profileData{
        margin-top: 100px;
        margin-right: -120px;
        clear: both;
        text-align: right;
    }
    #profileData a{
        color: #c6c6c6;
    }
    #profile>li:nth-child(2)>a{
        /*background: url("../images/pics/bar.jpg") no-repeat;*/
        /*background-size: cover;*/
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        float:right;
        margin-right: -120px;
    }
    #searchBar{
        z-index: 21;
        padding-left: 10px;
    }
    /********nav bar******/
    nav{
        border-top: 1px solid #555555;
        width:100%;
        clear: both;
    }
    .closed nav {
        display: none;
    }
    nav > ul > li {
        display: block;
        width: 100%;
    }
    nav > ul > li > a {
        font-size: 18px;
        text-align: right;
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding-right: 30px;
    }
    nav > ul > li > a:active{
        text-decoration: none; /*cancel butstrap*/
        color: #ffffff; /*cancel butstrap*/
        background-color: #000000;
        font-weight: bold;
    }
    /******end nav bar***/
    header{
        display: block;
        position: fixed;
        z-index: 10;
    }

    /*main{
        margin-top: 70px;
    }*/

    header>section>ul:nth-child(3)>li:nth-child(1){
        float: right;
    }

    header>section>ul:nth-child(3)>li:nth-child(2){
        margin: 15px;
        display: block;
        float: right;
    }

    #profile li:nth-child(3){
        display: block;
    }

    /*header - build new structure*/

    /*hamburger or back*/
    header>section>ul:nth-child(2){
        display: block;
        float: right;
    }
    .hambBack>li{
        margin-right: 50px;
    }
    .hambBack>li:not(.lead){
        display: none;
    }

    .hambBack>li.lead>a, .hambBack>li.lead{
        display: block;
    }

    .closed section>ul:nth-child(3){
        clear: both;
        display: none;
    }

    .opened #logo{
        display: none;
    }
    .opened section{
        right: 0;
        width: 300px;
        position: absolute;
        display: block;
        background: #777777;
        z-index: 20;
    }
    .opened #searchBar{
        display:none;
    }
    .opened section>ul:nth-child(3){
        display: block;
    }
    .opened nav {
        display: block;
    }
    .breadcrumb{
        display: none;
    }

    /**************************************************end header*/
    .trainingTable{
        width: 100%;
    }
    main table *{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 20px;
        color: #777777;
    }
    .list{
        width: 100%;
        height: 70px;
        border-bottom:1px dotted #c6c6c6;
        position: relative;
        display: block;
        background: url("../images/icons/chevron_left_icon.png") no-repeat left;
        background-size: 40px 40px;
    }
    .coachTr{
        display:none;
    }
    .typeTr{
        display:none;
    }
    .genreTr{
        display:none;
    }
    .placeTr{
        position: absolute;
        top:5px;
        right:20px;
        font-size: 24px;
    }
    .dayTr{
        position: absolute;
        bottom:5px;
        right:20px;
        font-size: 16px;
    }
    .timeTr{
        position: absolute;
        bottom:5px;
        right:120px;
        font-size: 16px;
    }
    .list .info i{
        position: absolute;
        bottom:0px;
        left:50px;
        font-size: 40px;
    }




    .tags{
        display: none;
    }
    .mapGoogle{
        display: none;
    }
    .addiLabels{
        display: none;
    }




    .addClosed{
        display: none;
    }
    .addOpened{
        display:table-row;
    }
    .addOpened *[class^=addi]{
        animation-name:widthAddi;
        animation-duration: 100ms;
        /*height: 300px;*/
    }



    /*.additional .addiCoach{*/
    /*border-bottom-left-radius: 4px;*/
    /*!*border-left: 1px dotted #777777;*!*/
    /*}*/
    .additional{
        border:none!important;
    }
    .additional td>*{
        direction:rtl;
        padding-top:10px;
        /*border-bottom:1px dotted #777777;*/
        /*float:right;*/
    }
    .addiLabData{
        width: 30%;
        height: 130px;
        border-right: 1px dotted #c6c6c6;
        padding-right:20px ;
    }
    .addiLabData>*{
        float:right;

    }
    .addiData{
        padding-right:10px;
    }
    /*.additional .addiLabels{*/
    /*border-bottom-right-radius: 4px;*/
    /*}*/
    .additional p{
        height: 10px;
    }
    .addiLabels{

    }
    .addiAddress{
        padding-left: 20px;
        width: 70%;
        height: 300px;
        float: left!important;
        border-left: 1px dotted #c6c6c6;
        border-bottom: 1px dotted #c6c6c6;
        border-bottom-left-radius:4px;
    }
    .mapGoogle{
        height:210px;
        background: #777777;
        border-radius: 4px;
    }
    .addiCoach{
        padding-right:20px;
        width:30%;
        height: 170px;
        border-bottom-right-radius:4px;
        border-bottom: 1px dotted #c6c6c6;
        border-right: 1px dotted #c6c6c6;
        /*float: none!important;*/
    }
    .addiCoach article{
        height:100px;
        width:100px;
        background: #777777;
        border-radius: 4px;
    }
}